<html>
    <head>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/style.css')}}/>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    </head>
    
    <body>
    <div id="sidebar">
    <h2>Update Image</h2>
    <form action="{{ url_for('handle_data') }}" method="post" enctype='multipart/form-data'>
        Latitude:<br>
        <input type="text" name="lat" value="45.516884" max="90" min="-90"><br>
        Longitude:<br>
        <input type="text" name="long" value="-73.578823" max="180" min="-180">
        Overlay image:<br>
        <input type="file" name="file" accept="image/png">
        <br>
        <input type="submit" value="Submit">
        <h3>{{ error }}</h3>
    </form> 
    </div>
    <div id="main">
    <button id="togglebtn" onclick="toggleNav()">&#171;</button>
    {% if image_created %}
        <p>Latitude: {{ lat }} Longitude: {{ long }}</p>
        <img id="mainimage" onclick="expandImage()" class="" src={{url_for('static', filename=filename)}}></img>
    {% endif %}
    </div>
    </body>
</html>